<div class="col-lg-8 mx-auto">
  <h2 class="display-5 text-info">Log in</h2>

  <div class="row">
    <%= form_with(scope: :session, url: login_path, local:true) do |form| %>
      <div class="card my-4 bg-light">
        <div class="card-body">
          <div class="field mb-3">
            <%= form.label :email, class: 'form-label' %>
            <%= form.email_field :email, class: 'form-control', placeholder: 'Enter your email address' %>
          </div>

          <div class="field mb-3">
            <%= form.label :password, class: 'form-label' %>
            <%= form.password_field :password, class: 'form-control', placeholder: 'Enter your password' %>
          </div>

          <div class="actions">
            <%= form.submit "Log in", class: 'btn btn-outline-info' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
