<div class="col-lg-8 mx-auto">
  <h2 class="display-5 text-info">Create a new category</h2>

  <div class="row">
    <%= form_with(model: @category, local:true) do |form| %>
      <%= render 'shared/errors', obj: @category %>

      <div class="card my-4 bg-light">
        <div class="card-body">

          <div class="field mb-3">
            <%= form.label :name, "Category", class: 'form-label' %>
            <%= form.text_field :name, class: 'form-control', placeholder: 'Enter a category name' %>
          </div>

          <div class="actions">
            <%= form.submit class: 'btn btn-outline-info' %>
            <%= link_to 'Cancel', articles_path, class: 'btn btn-outline-danger', data: { confirm: 'Cancel and return to article listing?' } %>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>

